<% if notice %>
<p id="notice" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"><%= notice %></p>
<% end %>

<h1>Your Pragmatic Catalog</h1>

<% @products.each do |product| %>
    <div class="entry">
      <%= image_tag(product.image_url) %>
      <h3><%= product.title %></h3>
      <p><%= sanitize(product.description) %></p>
      <div class="price_line">
        <span class="price">от <%= number_to_currency(product.price, format: "%n", delimiter: ' ', precision: 0) %> руб.</span>
      </div>
    </div>
<% end %>
